@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Tajawal", serif;
  font-style: normal;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  background: #fff
}



@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  .footerBg {
    background: linear-gradient(180deg, #1A1E22 0%, #000100 50%, #31363F 100%);
  }

  .rubriqueTitle {
    background: #7695FF;
    width: 100%;
    height: 2px;
  }

  .categoryTitle {
    color: rgba(38, 47, 130, 0.73);

  }

  .cardBorder {
    border: 1px solid rgba(243, 240, 227, 1);
    border-radius: 12px 12px 0px 0px;
  }

  .bgDescCard {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 9%, rgba(24, 49, 83, 0.2) 30.5%, #183153 100%);
  }

  .cardShadow {
    box-shadow: 0px 4px 32px 1px rgba(24, 49, 83, 0.15);
    border-radius: 12px;
  }

  .linearBlackBtn {
    background: linear-gradient(90.99deg, #000100 0%, #31363F 99.17%);
  }

  .loader {
    border: 6px solid #f3f3f3;
    ;
    border-top: 6px solid #007AFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  @keyframes minispin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .inputRange {
    background: #FFEB00;
    box-shadow: 0px 1px 2px 0px rgba(94, 93, 192, 1) inset;
    border-radius: 8px;
    height: 6px;
  }

  /* login background */
  .login-bg {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }

  /* like animation */
  .heart {
    animation: heart-bounce .5s cubic-bezier(.7, 0, .3, 1);
  }

  @keyframes heart-bounce {
    40% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
    }

    0%,
    80%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }



  /* Style du thumb -----------*/
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid rgba(243, 240, 227, 1);
    border-radius: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.05);
  }


  input[type="range"]::-moz-range-thumb {
    width: 50px;
    height: 30px;
    background: #fff;
    border: 2px solid rgba(243, 240, 227, 1);
    border-radius: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
  }

  input[type="range"].custom-range::-moz-range-thumb:hover {
    transform: scale(1.05);
  }



  /* caroussel------------------------------------- */
  .embla {
    overflow: hidden;
    overflow: hidden;
    margin: auto;
  }

  .embla__container {
    display: flex;
    align-items: start;
    gap: 0;
  }

  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
  }

  @media (max-width: 639px) {
    .embla__slide {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  
  /* filter btn: filter page */
  @media (max-width: 768px) {
    .filter-element {
      scroll-margin-top: 40px;
      padding-top: 40px;
    }
  }



  .shadow-save-btn {
    box-shadow: 1px 0px 8px 1px rgba(24, 49, 83, 0.25);
  }


  /* filter kcal --------------------------------*/
  .l-shadow {
    box-shadow: 4px 4px 24px 0px rgba(24, 49, 83, 0.12);
  }
}


/* shadow progress bar */
.shadow-progress {
  box-shadow: 0px 2px 6px 1px rgba(218, 218, 218, 0.33) inset;
}